html {
  box-sizing: border-box;
  background-color: #c9b5ab;
  font-family: "PT Serif";
  font-weight: normal;
  line-height: 1.5;
  font-style: normal;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

h1, h2 {
  font-family: "PT Sans";
  font-size: 1.5rem;
  color: #3f1622;
}

a {
  font-family: "PT Sans";
  font-size: 1.125rem;
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
